<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>939638713704-fq0lh7ujefs5b7mt6cn6ekmsaiuadgb7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939638713704-fq0lh7ujefs5b7mt6cn6ekmsaiuadgb7</string>
	<key>API_KEY</key>
	<string>AIzaSyBGfVzs9ujbpcMnWoLz-yQTTeiuys_9lxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>939638713704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LiTusngCheng.igClone</string>
	<key>PROJECT_ID</key>
	<string>igclone-c60a4</string>
	<key>STORAGE_BUCKET</key>
	<string>igclone-c60a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939638713704:ios:afc3188b0d4d0f36d73add</string>
	<key>DATABASE_URL</key>
	<string>https://igclone-c60a4.firebaseio.com</string>
</dict>
</plist>